
@{
    ViewData["Title"] = "SuccessfulCheckout";
}
<div class="alert alert-info">
    <p>Payment was success</p>
    <p>Paymnet no: @ViewBag.orderId</p>
</div>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Main Page</a>
